:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85vw;
}

.column {
  border: 2px solid black;
}

input {
  width: 90%;
}

input.tall {
  height: 300px;
}

.resumeDisplay {
  margin-top: 30px;
  background-color: white;
  height: 80%;
  padding: 32px;
  color: black;
}

.resumeSectionHeader {
  border-bottom: 2px solid black;
  margin: 0;
  padding: 0;
}

.resumeHeader {
  text-align: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.resumeEducation {
  margin: 0;
  padding: 0;
}

.resumeExperience {
  margin: 0;
  padding: 0;
}

.resumeTitle {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}